.scrollHidden{
  width:fit-content;
  flex-grow:1;
  overflow-x: auto;
  overflow-y: hidden;
  direction: ltr;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar{
    display: none;
  }
}